:root{
    --primarycolor: #ff274b;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #22282a;
    --padding: 8%;
}
#{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
   } 
   h1 {
    font-size: 3rem;
    margin: 1.4rem 0;
   }

   h2 {
    font-size: 1.8rem;
    letter-spacing: 0.10rem;
    cursor: pointer;
   }
   h3 {
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
   }
   h4 {
    font-size: 1.3rem;
    letter-spacing: 0.10;
    color: var(--secondarycolor);
   }
   h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
   }
   span {
    color: var(--primarycolor);
   }
   p{
    color: var(--secondarycolor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;

   }

   .home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
   }
  
   
   nav {
    
    padding-top: 2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1rem;
   }
   nav ul li a {
   color:var(--lightcolor);
   text-decoration: none;
   text-transform: capitalize;
   transition: 0.4s;
   }
   nav ul li a:hover {
    color: var(--primarycolor);
   }
   .btn {
    background-color: var(--primarycolor);
    color:var(--lightcolor)
    text-decoration: none;
    font-weight: bold;
    padding: 0.70rem 1.50rem;
    border-radis: 30px;
    border: 2px solid transparent;
    transition: 0.4s;

   }
   .btn:hover {
    background-color: transparent;
    border: 1.5px solid var(--primarycolor);
   }
   .content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
   }
   .container-texts {
    position: relative;
    bottom: 70px;
   }
   
   .social {
    margin-top: 3.5rem;
   }
   .social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
   }
   .social img:hover{
    transform: scale(1.2);
   }
   .home.container-imges{
    width: 40%;
    height: 90%;
    position: relative;
    align-items: flex-end;
   }
   .home.container-imges img{
    position:absolute;
    bottom: 0;
    height: 50%;
   }
   .about{
    background-color: var(--bgcolor-2);
    padding: 5rem var(--padding);
    display: flex;
    text-align: justify;
    justify-content: space-around;
   }
   .about.container-imges{
   width: 30%;
   }
   .about.container-imges img{
    width:70%;
   }
   .about.container-texts{
    width: 40px;
   }
   
   .container-skills {
    display: flex;
    flex-wrap: wrap;

   }
   .skills.container-imges{
    width: 30%;
    }
    .skills.container-imges img{
        width:70%;
       }
       .skills{
        background-color: var(--bgcolor-2);
        padding: 2rem var(--padding);
        display: flex;
        text-align: left;
        justify-content: space-between;
       }
       .skills.container.skills{
        width: 40%;
       }

.container.skills{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 18%;
    height: 16%;
    background-color: var(--lightcolor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgcolor-1);
}
footer.content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



   